In [34]:
import pandas as pd
data={
    'integer':[3,5,7,10,12]
}
df=pd.DataFrame(data)
df['range']=df['integer'].apply(lambda x:range(x))
print(df)

   integer                                   range
0        3                               (0, 1, 2)
1        5                         (0, 1, 2, 3, 4)
2        7                   (0, 1, 2, 3, 4, 5, 6)
3       10          (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
4       12  (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [35]:
import pandas as pd
import numpy as np
df=pd.read_csv("dirtybmi_23.csv")
#custom mapping for convertion
mapping={
    'True':1,
    'False':0,
    'Female':1,
    'Male':0
}
#Applying the mapping to the column
df['Gender'].map(mapping)
print(df)

        Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]

In [36]:
import pandas as pd
import numpy as np
df1=pd.read_csv("dirtybmi_23.csv")
df1['Gender']=df1['Gender'].astype('category')
df1['Height']=df1['Height'].astype('string')
df1['Weight']=df1['Weight'].astype('string')
df1['female']=df1['female'].astype('category')
df1['male']=df1['male'].astype('category')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      404 non-null    category
 1   Height      404 non-null    string
 2   Weight      404 non-null    string
 3   Index       404 non-null    int64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   female      204 non-null    category
 7   male        204 non-null    category
dtypes: category(3), float64(2), int64(1), string(2)
memory usage: 22.5 KB

In [29]:
import pandas as pd
data={
    'name':[' rose ','jane ',' charlie ',' faith '],
            'city':['   makweni  ','kwavonza  ',' kitui   ','mselele    ']
}
df=pd.DataFrame(data)
print("original DataFrame:")
print(df)

original DataFrame:
        name          city
0      rose      makweni
1      jane     kwavonza
2   charlie       kitui
3     faith    mselele

In [27]:
df['name']=df['name'].str.strip()
df['city']=df['city'].str.strip()
print("\nTrimmed DataFrame:")
print(df)

Trimmed DataFrame:
      name      city
0     rose   makweni
1     jane  kwavonza
2  charlie     kitui
3    faith   mselele

In [59]:
import pandas as pd
from scipy import stats
csv_file='childhealthdata.csv'
pf=pd.read_csv(csv_file)
height_min,height_max=50,110
weight_min,weight_max=4,20
out_of_range_height=df[(df['height'] < height_min) | (df ['height'] > height_max)]
out_of_range_weight=df[(df['weight'] < weight_min) | (df['weight'] > weight_max)]
print("\nRows with out-of-range'height':")
print(out-of-range-height)
print("\nRows with out-of-range'weight':")
print(out-of-range-weight)

KeyError: 'height'

In [7]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_23.csv')
duplicates=df.duplicated()
print(duplicates)

0      False
1       True
2      False
3      False
4      False
       ...
399    False
400    False
401    False
402    False
403    False
Length: 404, dtype: bool

In [54]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_23.csv')
df.drop_duplicates
clean=df.drop_duplicates
print(clean)

<bound method DataFrame.drop_duplicates of         Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]>

In [3]:
import pandas as pd
df=pd.read_csv("dirtybmi_23.csv")
df.head(10)

      Gender   Height    Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0  Fema   le  15    8        89      4         NaN         NaN    158   158
1  Fema   le  15    8        89      4         NaN         NaN    158   158
2     Female      178       127      4         NaN         NaN    178   178
3     Female     none       139      5         NaN         NaN   none  none
4     Female     none       104      5         NaN         NaN    181   181
5  Femal   e      147        68      2         NaN         NaN    147   147
6     Female   1   42        92      4         NaN         NaN    142   142
7  Fe   male      146  10     8      4         NaN         NaN    146   146
8     Female      173       130      5         NaN         NaN    173   173
9  F   emale      170        71      4         NaN         NaN    170   170

In [4]:
import pandas as pd
from scipy import stats
df=pd.read_csv('dirtybmi_23.csv')
df.drop_duplicates
clean=df.drop_duplicates
print(clean)

<bound method DataFrame.drop_duplicates of         Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]>

In [8]:
df['Gender']=df['Gender'].str.strip()
df['Height']=df['Height'].str.strip()
print("\nTrimmed DataFrame:")
print(df)

Trimmed DataFrame:
        Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

[404 rows x 8 columns]

In [8]:
import pandas as pd
#sample health data
data={
    'Patient ID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'Gender':['Female','Male','Others','Unknown'],#"Unknown"is valid
    'Blood Type':['A+','B','O+','AB-'],#All valid
    'Diagnosis Code':['A00','B99','C30','XYZ'] # "XYZ" is invalid
}
df=pd.DataFrame(data)
df.head

<bound method NDFrame.head of    Patient ID     Name   Gender Blood Type Diagnosis Code
0           1    Alice   Female         A+            A00
1           2      Bob     Male          B            B99
2           3  Charlie   Others         O+            C30
3           4    David  Unknown        AB-            XYZ>

In [26]:
#Define valid values for each field
valid_genders={'Male','Female','Others'}
valid_blood_types={'A','A-','B+','B-','O+','O-','AB+','AB-'}
valid_diagnosis_codes={'A00','B99','C10'} # Example ICD-10 codes
df.head

<bound method NDFrame.head of    Patient ID     Name   Gender Blood Type Diagnosis Code
0           1    Alice   Female         A+            A00
1           2      Bob     Male          B            B99
2           3  Charlie   Others         O+            C30
3           4    David  Unknown        AB-            XYZ>

In [28]:
def check_membership(value,valid_set):
    if value not in valid_set:
        return False
        return True
def validate_health_data(df):
     invalid_rows=[]
for index,row in df.iterrows():
    errors={}
    if not check_membership(row['Gender'],valid_genders):
        errors['Gender']=row['Gender']
    if not check_membership(row['Blood Type'],valid_blood_types):
        errors['Blood Type']=row['Blood Type']
    if not check_membership(row['Diagnosis Code'],valid_diagnosis_codes):
        errors['Diagnosis Code']=row['Diagnosis Code']

In [33]:
df_cleaned=df.drop(index=[entry['index'] for entry in invalid_entries])
for entry in invalid_entries:
    for field in entry['error']:
        if fields=='Gender':
            df.at[entry['index'],field]='other'
        elif field=='Diagnosis Code':
            df.at[entry['index'],field]='A00'
print("\ncleaned DataFrame:")
print(df_cleaned)

NameError: name 'invalid_entries' is not defined

In [45]:
import pandas as pd
data={
    'EmployeeID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'Age':[30,25,40,22],
    'Years of Expirience':[5,27,15,1]
}
df=pd.DataFrame(data)
#Cross-field validation function
def validate_expirience(row):
 if row['Years of Expirience']>row['Age']:
     return False
     return True
df['Is Valid']=df.apply(validate_expirience,axis=1)
invalid_rows=df[df['Is Valid']==False]
print("Invalid Rows:")
print(invalid_rows)

Invalid Rows:
   EmployeeID Name  Age  Years of Expirience Is Valid
1           2  Bob   25                   27    False

In [1]:
import pandas as pd
data={
    'Start Date':['2023-01-01','2023-02-01','2023-03-01'],
     'End Date':['2023-01-10','2023-01-05','2023-04-01'],
}
df=pd.DataFrame(data)
df['Start Date']=pd.to_datetime(df['Start Date'])
df['End Date']=pd.to_datetime(df['End Date'])

In [3]:
df['Valid']=df['Start Date']<df['End Date']
print(df)
invalid_rows=df[~df['Valid']]
if not invalid_rows.empty:
    print("invalid rows found:")
    print(invalid_rows)
else:
   print("All rows are valid.")

  Start Date   End Date  Valid
0 2023-01-01 2023-01-10   True
1 2023-02-01 2023-01-05  False
2 2023-03-01 2023-04-01   True
invalid rows found:
  Start Date   End Date  Valid
1 2023-02-01 2023-01-05  False

In [16]:
import pandas as pd
df=pd.read_csv('dirtybmi_23.csv')
df['Valid']=df['Height']<df['Weight']
print(df)
invalid_rows=df[~df['Valid']]
if not invalid_rows.empty:
    print("invalid rows found:")
    print(invalid_rows)
else:
   print("All rows are valid.")

        Gender   Height Weight  Index  Unnamed: 4  Unnamed: 5 female  male  \
0    Fema   le  15    8     89      4         NaN         NaN    158   158
1    Fema   le  15    8     89      4         NaN         NaN    158   158
2       Female      178    127      4         NaN         NaN    178   178
3       Female     none    139      5         NaN         NaN   none  none
4       Female     none    104      5         NaN         NaN    181   181
..         ...      ...    ...    ...         ...         ...    ...   ...
399       Male      190   none      5         NaN         NaN    NaN   NaN
400       Male      164    130      5         NaN         NaN    NaN   NaN
401       Male      185    138      5         NaN         NaN    NaN   NaN
402       Male      188    158      5         NaN         NaN    NaN   NaN
403       Male      161    155      5         NaN         NaN    NaN   NaN

     Valid
0     True
1     True
2    False
3    False
4    False
..     ...
399   True
400  False
401  False
402  False
403  False

[404 rows x 9 columns]
invalid rows found:
        Gender Height    Weight  Index  Unnamed: 4  Unnamed: 5 female  male  \
2       Female    178       127      4         NaN         NaN    178   178
3       Female   none       139      5         NaN         NaN   none  none
4       Female   none       104      5         NaN         NaN    181   181
7    Fe   male    146  10     8      4         NaN         NaN    146   146
8       Female    173       130      5         NaN         NaN    173   173
..         ...    ...       ...    ...         ...         ...    ...   ...
398       Male    186       117      4         NaN         NaN    NaN   NaN
400       Male    164       130      5         NaN         NaN    NaN   NaN
401       Male    185       138      5         NaN         NaN    NaN   NaN
402       Male    188       158      5         NaN         NaN    NaN   NaN
403       Male    161       155      5         NaN         NaN    NaN   NaN

     Valid
2    False
3    False
4    False
7    False
8    False
..     ...
398  False
400  False
401  False
402  False
403  False

[212 rows x 9 columns]

In [18]:
import pandas as pd
df=pd.read_csv('dirtybmi_23.csv')
def validate_Height(row):
    if row['Height']>row['Weight']:
     return False
     return True
df['Is Valid']=df.apply(validate_Height,axis=1)
invalid_rows=df[df['Is Valid']==False]
print("Invalid Rows:")
print(invalid_rows)

Invalid Rows:
        Gender Height    Weight  Index  Unnamed: 4  Unnamed: 5 female  male  \
2       Female    178       127      4         NaN         NaN    178   178
3       Female   none       139      5         NaN         NaN   none  none
4       Female   none       104      5         NaN         NaN    181   181
7    Fe   male    146  10     8      4         NaN         NaN    146   146
8       Female    173       130      5         NaN         NaN    173   173
..         ...    ...       ...    ...         ...         ...    ...   ...
398       Male    186       117      4         NaN         NaN    NaN   NaN
400       Male    164       130      5         NaN         NaN    NaN   NaN
401       Male    185       138      5         NaN         NaN    NaN   NaN
402       Male    188       158      5         NaN         NaN    NaN   NaN
403       Male    161       155      5         NaN         NaN    NaN   NaN

    Is Valid
2      False
3      False
4      False
7      False
8      False
..       ...
398    False
400    False
401    False
402    False
403    False

[212 rows x 9 columns]

In [10]:
import pandas as pd
import numpy as np
data={
    'A':[1,2,np.nan,4,5],
    'B':[5,np.nan,np.nan,8,10],
    'C':[np.nan,2,3,4,np.nan],
    'D':['dog','cat',np.nan,'mouse','rabbit']
}

In [11]:
df=pd.DataFrame(data)
print("original DataFrame:")
print(df)

original DataFrame:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   NaN  2.0     cat
2  NaN   NaN  3.0     NaN
3  4.0   8.0  4.0   mouse
4  5.0  10.0  NaN  rabbit

In [14]:
print("\nDetect missing values:")
print(df.isnull())
df_dropna=df.dropna()
print("\nDataFrame after dropping rows with any missing values:")

Detect missing values:
       A      B      C      D
0  False  False   True  False
1  False   True  False  False
2   True   True  False   True
3  False  False  False  False
4  False  False   True  False

DataFrame after dropping rows with any missing values:

In [13]:
df_dropna=df.dropna()
print("\nDataFrame after dropping rows with any missing values:")

DataFrame after dropping rows with any missing values:

In [15]:
df_dropna_subset=df.dropna(subset=['A','B'])
print("\nDataFrame after dropping rows with missing values in columns 'A','B':")
print(df_dropna_subset)

DataFrame after dropping rows with missing values in columns 'A','B':
     A     B    C       D
0  1.0   5.0  NaN     dog
3  4.0   8.0  4.0   mouse
4  5.0  10.0  NaN  rabbit

In [17]:
df_fillna=df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_fillna)

DataFrame after filling missing values with 0:
     A     B    C       D
0  1.0   5.0  0.0     dog
1  2.0   0.0  2.0     cat
2  0.0   0.0  3.0       0
3  4.0   8.0  4.0   mouse
4  5.0  10.0  0.0  rabbit

In [19]:
df_fillna_mean=df.fillna(df.mean(numeric_only=True))
print("\nDataframe after filling missing values with column mean:")
print(df_fillna_mean)

Dataframe after filling missing values with column mean:
     A          B    C       D
0  1.0   5.000000  3.0     dog
1  2.0   7.666667  2.0     cat
2  3.0   7.666667  3.0     NaN
3  4.0   8.000000  4.0   mouse
4  5.0  10.000000  3.0  rabbit

In [20]:
df_ffill=df.ffill()
print("\nDataFrame after foward fill:")
print(df_ffill)

DataFrame after foward fill:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   5.0  2.0     cat
2  2.0   5.0  3.0     cat
3  4.0   8.0  4.0   mouse
4  5.0  10.0  4.0  rabbit

In [22]:
df_interpolate=df.interpolate()
print("\nDataFrame after interpolate:")
print(df_interpolate)

DataFrame after interpolate:
     A     B    C       D
0  1.0   5.0  NaN     dog
1  2.0   6.0  2.0     cat
2  3.0   7.0  3.0     NaN
3  4.0   8.0  4.0   mouse
4  5.0  10.0  4.0  rabbit

C:\Users\Admin\AppData\Local\Temp\ipykernel_3272\2876078083.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolate=df.interpolate()